<div id="gre-takephoto">
	<ion-header-bar align-title="left" class="bar-positive">
		  <div class="buttons">
		    <i class="ion-android-menu gre-menu-ico"> </i>
		  </div>
		  <!-- <h1 class="title">Title!</h1>
		  <div class="buttons">
		    <button class="button">Right Button</button>
		  </div> -->
	</ion-header-bar>
	<ion-content class="has-header gre-takephoto-content " ng-controller="takePhotoCtrl">
		<!-- <div class="button gre-ico" id="gre-takephoto-btn" ng-click="takePhoto()" > <i c</div>
		<div class="button gre-ico" id="gre-gallery-btn" ng-click="openGallery()"> </div> -->
		<div class="take-photo-btn">
			<div id="open-camera-btn" ng-click="takePhoto()">
				<strong ><i class="ion-android-camera"> </i> Open Camera</strong>
			</div>
			<div id="open-gallery-btn" ng-click="openGallery()">
				<strong ><i class="ion-android-image"> </i> Open Gallery</strong>
			</div>
		
		</div>
		<br>
		<br>

		<div class="img-take-upload"> 
			<img id="img-take-photo" src="{{imgUrl}}"> </img>			
			<i class="ion-android-upload photo-upload" ng-click="uploadImg2()" ></i>		
		</div>

	</ion-content>
</div>