#messages{
	background: #303030;
}
#email{
	width: 100%;
}
.message-item {
	width: 100%;
	background-color: #474747;
	border: none;
	
}
.mess-lbl{
	color: green;
	font-size: 18px;
	font-weight: bold;
}
#subject{
	color: white;	
}
#fromId{
	color: white;
	background-color: #474747;
}
#message-content{
	height: 300px;
	color: white;
}

/* style for select 2 */


.select2-container--default .select2-selection--multiple {
    background-color: transparent;
   
    border:  none;
    cursor: text;
}	

.message{
	background-color: #303030;
}

.select2-selection__rendered:focus{
	border: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    border: none;
    outline: 0;
}

.message-header{
	
}


/* message header style*/


.bar.bar-positive {
    background-color: 303030;
}
/*.message-send{
	font-size: 30px;
	padding:3px;
	padding-left: 20px;
	color: green;
}
.message-send:active{
	
	
	opacity: 0.7;

};*/

.message-button{
	font-size: 30px;
	padding:3px;
	padding-left: 20px;
	color: green;
}

.message-button:active{
	opacity: 0.7;

}

.bar .title + .buttons {
    top: 8px;
}

.select2-container--default .select2-selection--multiple .select2-selection__rendered {
    padding: 0;
}

.select2-container .select2-search--inline .select2-search__field {
    font-size: 14px;
    height: 29px;
    line-height: 29px;
}

.message .app_form .item-input {
    height: auto;
}

.message .app_form .list-inset .item.item-input input {
    margin: 0
}