<ion-view view-title="Notifications" ng-controller="NotificationCtrl">
  <ion-header-bar align-title="center" class="bar-positive message-header">
    <div class="buttons" ng-click="back()">
      <button class="button"><i class="icon ion-arrow-return-left message-button message-back"></i></button>
    </div>
    <h1 class="title"> Notifications </h1>
  </ion-header-bar>
  <ion-content class="notification">
    <div class="notificat_list"
         ng-repeat="item in notificate">
      <div class="main_bg line"></div>
      <div class="notificat_content">
          <p>
              <strong>{{item.title}}</strong><small> - {{item.fromUser}}</small>
          </p>
        <p class="main_color time">{{item.time | date : 'dd/MM/yyyy'}}</p>
      </div>
    </div>
  </ion-content>
</ion-view>
