<ion-view view-title="SEEKER LIST">
  <ion-content class="home_page"> 
    <div class="home_list"
       collection-repeat="item in list"
       collection-item-width="'100%'"
       collection-item-height="123"> 
       <div class="list_content">
       <div class="row">
          <div class="col col-25">
             <img src="{{item.img}}"/>
          </div>
          <div class="col col-75">
             <h3 class="main_color">{{item.title}}</h3>
             <p>Art Direction Brandin</p>
             <p>Graphic Design </p>
          </div>
       </div>
       <p class="num_see"><i class="ion-eye"></i>1245</p>
       <span class="see_more main_bg" ng-click="goto('/app/detail')">
          <i class="ion-plus"></i>
       </span>
       </div>
    </div>
  </ion-content>
</ion-view>
