<ion-view view-title="Tin nhắn" ng-controller="ListNotificateCtrl">
    <ion-content class="notification">
        <div class="notificat_list"
             ng-repeat="item in notificate" >
            <div class="main_bg line"></div>
            <div class="notificat_content">
                <p ng-click="showNotificate(item)">
                    <strong ng-if="!item.IsRead">{{item.Title}}</strong>
                    <span ng-if="item.IsRead">{{item.Title}}</span>
                    <small> - {{item.FromUserName}}</small>
                </p>
                <p class="main_color time">
                    {{item.DateTime | date : 'dd/MM/yyyy'}}
                    <a class="main_color" style="float: right" ng-click="delete(item)"><i class="ion-trash-a"></i></a>
                </p>
                <p ng-if="item.show">"{{item.Content}}"</p>

            </div>
        </div>
    </ion-content>
</ion-view>
