<ion-view view-title="Green Effect">
    <ion-content class="home_page" ng-controller="ViewOnMapCtrl">
        <div class="list list-route">
            <label class="item item-input item-select sel_item main_color">
                <select ng-model="routeSelected" ng-change="selectRoute(routeSelected)"
                        ng-options="route as route.RouteName for route in routes track by route.IdenRoute">
                    <option value="" ng-if="false"></option>
                </select>
            </label>
        </div>
        <!-- Map -->
        <ge-map locations="locations"></ge-map>
    </ion-content>
</ion-view>

<style>
    .home_page .list.list-route {
        padding: 0 15px 25px;
        position: absolute;
        width: 100%;
        background: rgb(43, 43, 43);
        z-index: 999;
    }

    .home_page .sel_item.item-select {
        width: 100%;
    }

    .thumb {
        width: 62px;
        height: 62px;
        margin: 15px auto;
    }

    .address {
        max-height: 40px;
        overflow: hidden;
    }
</style>