<ion-view view-title="CATEGORIES">
  <ion-content class="categ_list"> 
    <div  class="category"
       collection-repeat="item in cat"
       collection-item-width="'100%'"
       collection-item-height="50"> 
       <div class="main_bg line"></div>
       <div class="row">
          <div class="col col-80">
                <div class="option_radio">
                    <input name="type" type="checkbox" id="single_{{$index}}" ng-model="item.checked" ng-checked="item.checked">
                    <label for="single_{{$index}}"><span><i class="ion-checkmark main_color"></i></span>{{item.title}}</label>
                </div>
          </div>
          <div class="col col-20">
              <p class="main_color">{{item.number}}</p>
          </div>
       </div>
    </div>
  </ion-content>
    <ion-footer-bar  class="footer">
        <a href="#" class="button button-block app_btn main_bg">
          RESETE ALL
        </a> 
    </ion-footer-bar>
</ion-view>
