<ion-view view-title="JOB DESCRIPTION">
  <ion-content class="detail_page">
  <div class="detail_img">
      <img src="img/l6.png"/>
  </div>  
  <div class="detail_content">
     <h3 class="main_color">
         Washing Modern Car employee
     </h3>
     <span class="like_share main_bg" ng-click="like_this()" ng-class="{'animated zoomIn':active_icon==true}">
       <i class="ion-ios-heart"></i>
     </span>
      <span class="like_share share_icon">
       <i class="ion-android-share-alt"></i>
     </span>
     
     <button class="button button-block show_btn">
        Showed the number advertised
     </button>
     
     <p class="main_parag">
        One of our top picks in Dubai. Overlooking the Gulf, this 5-star resort boasts 14 international restaurants and bars. Its Roman-themed spa has saunas and 5 hammam pools. Free Wi-Fi is available.
        Resort & Spa Dubai can enjoy a swim in the 
     </p>
  </div>  
  </ion-content>
</ion-view>
