<ion-modal-view class="setting_app animated slideInDown">
    <ion-content scroll="false" class="setting_content">
      <button class="button button-icon close_modal main_bg" ng-click="closesetting_modal()"><i class="ion-close"></i></button>
      <div class="app_color">
        <span ng-click="color_them(1);" ng-class="{'select_color':active_colorthem==1}"></span>
        <span ng-click="color_them(2);" ng-class="{'select_color':active_colorthem==2}"></span>
        <span ng-click="color_them(3);" ng-class="{'select_color':active_colorthem==3}"></span>
        <span ng-click="color_them(4);" ng-class="{'select_color':active_colorthem==4}"></span>
      </div>
      
        <div class="list">
            <label class="item item-input item-select sel_item main_color">
                <select>
                <option>English</option>
                <option>Frensh</option>
                </select>
            </label>
        </div>

    </ion-content>
  </ion-modal-view>