<!--<ion-modal-view class="setting_app animated slideInDown">
    <ion-content scroll="false" class="setting_content">
        <button class="button button-icon close_modal main_bg" ng-click="$ctrl.close()"><i class="ion-close"></i></button>
        <span></span>
    </ion-content>
</ion-modal-view>-->


<div class="modal-backdrop active" ng-if="display" ng-class="type">
    <div class="modal-backdrop-bg"></div>
    <div class="modal-wrapper">
        <div class="setting_app animated slideInDown modal slide-in-up ng-enter active ng-enter-active">
            <div class="setting_content scroll-content ionic-scroll scroll-content-false">
                <button ng-click="close()" class="button button-icon close_modal main_bg"><i class="ion-close"></i></button>
                <div class="app_color">
                    <p>{{message}}</p>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .modal-backdrop {
        z-index: 10000;
    }

    .warning .main_bg {
        background: #d95555 none repeat scroll 0 0;
    }

    .warning .app_color {
        color: #d95555;
        font-size: 16px;
    }

    .info .main_bg {
        background: #2d8be3 none repeat scroll 0 0;
    }

    .info .app_color {
        color: #2d8be3;
        font-size: 16px;
    }

    .success .main_bg {
        background: #3fb24d none repeat scroll 0 0;
    }

    .success .app_color {
        color: #3fb24d;
        font-size: 16px;
    }
</style>