<ion-modal-view class="modal_menu animated slideInDown" >
<ion-header-bar class="menu_head main_bg">
    <div class="row">
       <div class="col col-25">
          <img src="img/profile.png"/>
       </div>
       <div class="col col-75">
          <h3>Mark Bellucci</h3>
          <p ng-click="goto('/login');closemenumodal()">Sign out</p>
       </div>
    </div>
</ion-header-bar>
    <ion-content class="menu_app main_bg">
    <ion-list>
        <ion-item href="#/app/home" ng-click="closemenumodal()">
            MAIN PAGE
        </ion-item>
        <ion-item href="#/app/category" ng-click="closemenumodal()">
           CATEGORIES
        </ion-item>
        <ion-item href="#/app/notification" ng-click="closemenumodal()">
            NOTIFICATIONS<span class="badge">3</span>
        </ion-item>
        <ion-item href="#/app/home" ng-click="closemenumodal()">
            FAVOURITE
        </ion-item>
        <ion-item href="#/app/contact" ng-click="closemenumodal()">
            CONTACT US
        </ion-item>
      </ion-list>
    </ion-content>
    <ion-footer-bar  class="main_bg menu_footer">
        <ion-toggle>
          Job seeker
        </ion-toggle>
    </ion-footer-bar>
  </ion-modal-view>