#messages{
	background: #303030;
}
#email{
	width: 100%;
}
.message-item {
	width: 100%;
	background-color: #474747;
	border: none;
}
#message-content{
	height: 300px;
}

/* style for select 2 */


.select2-container--default .select2-selection--multiple {
    background-color: #474747;
   
    border:  none;
    cursor: text;
}	

.message{
	background-color: #303030;
}

.select2-selection__rendered:focus{
	border: none;
}

.select2-container--default.select2-container--focus .select2-selection--multiple {
    /* border: solid black 1px; */
    outline: 0;
}

.message-header{
	
}


/* message header style*/


.bar.bar-positive {
    background-color: 303030;
}
/*.message-send{
	font-size: 30px;
	padding:3px;
	padding-left: 20px;
	color: green;
}
.message-send:active{
	
	
	opacity: 0.7;

};*/

.message-button{
	font-size: 30px;
	padding:3px;
	padding-left: 20px;
	color: green;
}

.message-button:active{
	opacity: 0.7;

}
